html {
	height: 100%;
	margin-top: 0px;
	padding-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
 	min-height: 100%;
}

h1.header {
	font-family: Verdana;
	color: white;
	vertical-align: middle;
	background-color: black;
	background-size: cover;
	width: 100%;
	height: 75px;
	line-height: 75px;
	text-align: center;
}

/* format setting for h1 (which is time) */
h1.time {
	color: black;
	text-align: center;
	font-style: verdana;
	background-color: lightgrey;
	width: 60%;
	max-width: 460px;
	border: 15px solid black;
	padding: 25px;
	margin: 25px auto;
}

/* temp div to hold where dynamic data will be --> */
div2 {
	color: red;
}

/*format settings for displaying number of gym goers */
p.result {
	font-style: verdana;
	text-align: center;
	background-color: lightgrey;
	width: 60%;
	max-width: 460px;
	border: 10px solid black;
	padding: 25px;
	margin: 25px auto;
	font-weight: bold;
	font-size: 1.25em;
}

/* Style for the background */
body {
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-image:
		url("UNT_GIF.gif");
}

/* Style for displaying the current time */
.marquee {
	box-sizing: border-box;
	max-width: 460px;
	width: 60%;
	margin: 0 auto;
	background: lightgrey;
	white-space: nowrap;
	overflow: hidden;
	color: blue;
	font-size: 18px;
}