<!DOCTYPE html>

<html>
<!-- header has the link to the CSS file -->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
	<body>
		<div class="header"><h1>SwolePatrol</h1></div>
		<!-- current time section-->
		<div class="main">
			<h1>For the time:</h1>
			<h2 th:text="${time}"></h2>
	
			<div3>The predicted number of gym members entered in the last 15 minutes is:</div3>
			<h2 th:text="${entries}"></h2>
			<div4>Estimated Capacity</div4>
			
			<div id="progressbar">
     			<div id="progress" th:style="${percent}"></div>
    		</div>
		</div>
		
		<div class="result">
			Choose a date and time for prediction
				<form action="#" th:action="@{/acceptDateTime}" th:object="${dateContainer}" method="post">
			        <input type="datetime-local" th:field="*{dateTime}"/>
			        <input type="submit" value="Submit"/>
			    </form>
		</div>
	
	</body>
</html>